.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

body {
  background-image: url("https://esi.si.com/.image/c_fit%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1022/MTkzNTE0MTI3ODI1MDUzMTY4/worlds_2022_semifinals_day2_370.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
}

.cells-container {
  margin: 5% auto; 
  width: 80%;
}

.cells_row {
  overflow: hidden;
  float: left;
}

.cell {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin: 15px 50px;
  max-width: 200px;
  max-height: 200px;
  flex: content;
  text-align: center;
  color: white;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.col-sm img {
  width: 200px;
  height: 200px;
}

.btn-logout {
  color: white;
  background-color: #f66b6b;
  margin: 5px 10px 5px 5px;
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 25px;
  float: right;
}

.btn-home {
  color: white;
  background-color: #f66b6b;
  margin: 5px 25px 5px 5px;
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 25px;
  float: left;
}

#siteNav {
  background-color: #E3E3E3;
}

.row-container {
  width: 100%;
}